In [1]:
import pandas as pd 
import numpy as np 
import json

In [2]:
import json
 
# Opening JSON file
f = open('social_population.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)
data = data['data']

# store the data in a dataframe
data = pd.DataFrame(data)

# store a list of unique indicators
unique_indicators = list(data['Indicator Name'].unique())
unique_indicators

['Infant mortality rate (per 1,000 livebirths)',
 'Under-five mortality rate (per 1,000 livebirths)',
 'Refugee population (number)',
 'Sex ratio at birth (male birth per female birth)',
 'Mean age at first marriage (years)',
 'Registered divorces (number)',
 'Population distribution by marital status (percentage)',
 'International migrant stock (number)',
 'Population size (number)',
 'Average household size (number)',
 'Life expectancy at birth (years)',
 'Households headed by women (percent)',
 'Population sex ratio (males per 100 females)',
 'Registered marriages (number)',
 'Registered livebirths (number)',
 'Adolescent fertility rate (per 1,000 women aged 15-19 years)',
 'Average annual population growth rate (percent)',
 'Total fertility rate (children per woman)']

In [3]:
data.head()

,Indicator Name,Country Name,Nationality Name,Area Name,Age Name,Sex Name,Causes of death Name,Marital status Name,Scale Name,Source,Time,Value
0,"Infant mortality rate (per 1,000 livebirths)",Jordan,Nationality Total,Area Total,Age not available,Both sexes,Causes of death NA,Marital status NA,Units,National,2000,31.3
1,"Infant mortality rate (per 1,000 livebirths)",Jordan,Nationality Total,Area Total,Age not available,Both sexes,Causes of death NA,Marital status NA,Units,National,2001,33
2,"Infant mortality rate (per 1,000 livebirths)",Jordan,Nationality Total,Area Total,Age not available,Both sexes,Causes of death NA,Marital status NA,Units,National,2002,24
3,"Infant mortality rate (per 1,000 livebirths)",Jordan,Nationality Total,Area Total,Age not available,Both sexes,Causes of death NA,Marital status NA,Units,National,2003,22
4,"Infant mortality rate (per 1,000 livebirths)",Jordan,Nationality Total,Area Total,Age not available,Both sexes,Causes of death NA,Marital status NA,Units,National,2004,24

In [4]:
# Create a dictionary of dataframes for each unique indicator 
df_dict = {name: data.loc[data['Indicator Name'] == name] for name in unique_indicators}

df_dict['Total fertility rate (children per woman)'].head()

,Indicator Name,Country Name,Nationality Name,Area Name,Age Name,Sex Name,Causes of death Name,Marital status Name,Scale Name,Source,Time,Value
996,Total fertility rate (children per woman),Jordan,Nationality Total,Area Total,Age not available,Sex NA,Causes of death NA,Marital status NA,Units,National,2000,3.5
997,Total fertility rate (children per woman),Jordan,Nationality Total,Area Total,Age not available,Sex NA,Causes of death NA,Marital status NA,Units,National,2001,3.5
998,Total fertility rate (children per woman),Jordan,Nationality Total,Area Total,Age not available,Sex NA,Causes of death NA,Marital status NA,Units,National,2002,3.7
999,Total fertility rate (children per woman),Jordan,Nationality Total,Area Total,Age not available,Sex NA,Causes of death NA,Marital status NA,Units,National,2003,3.7
1000,Total fertility rate (children per woman),Jordan,Nationality Total,Area Total,Age not available,Sex NA,Causes of death NA,Marital status NA,Units,National,2004,3.7

In [5]:
type(df_dict['Total fertility rate (children per woman)'])

pandas.core.frame.DataFrame

In [12]:
for indicator in unique_indicators: 
  df_dict[indicator].to_json(str(indicator)+'.json', orient='records')